
py_MesaDinero/MD.Datos/md.DAO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
py_MesaDinero/MD.Datos/md.DAO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
py_MesaDinero/MD.Negocio/md.Negocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
py_MesaDinero/MD.Entidades/md.Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
