.bank-registration-container .main-title-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('../../images/icons/candado.svg');
	width: 2vw;
	height: 2vw;
	display: inline-block;
	float: left;
}
.bank-registration-container .main-title > div {
	font-family: inherit;
	font-size: inherit;
	text-align: center;
	width: 30%;
	margin: auto;
	display: grid;
	grid-template-columns: auto 1fr;
}
/*Layout*/
.bank-registration-content {
	width: 62%;
	height: 75%;
	margin: 4vh auto 0 auto;
	display: grid;
	row-gap: 5%;
	grid-template-rows: 3fr 3fr .5fr;
	grid-template-columns: auto;
}
/*Bank List*/
.bank-registration-content > bank-list {
	grid-row: 1 / 2;
	overflow-y: auto;
	max-height: 177px;
}
/*Bank form*/
.bank-registration-content > .bank-form {
	grid-row: 2 / 3;
	border: 1px solid #b3b3b3;
	border-radius: 1vh;
	padding: 2vh 2.5vw 2vh 2.5vw;
}
.bank-registration-content .sub-title {
	color: var(--main-blue);
	font-size: 1.5vw;
	font-family: 'Helvetica Neue Roman';
	margin-bottom: 2vh;
}
.bank-registration-content .bank-form-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	column-gap: 1vw;
	row-gap: 3vh;
}
.bank-registration-content .bank-form-content > * {
	height: 5vh;
}
/*Confirm button*/
.bank-registration-content > .confirm {
	grid-row: 3 / 4;
	height: 5vh;
	width: 20%;
	align-self: end;
}
