<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <!--SQL-->
      <add name="BDPwd" connectionString="Data source=172.16.1.254;Initial Catalog=BDSIG_PRD;Persist Security Info=true;user ID=usrappweb;Password=P@ssword$10;" providerName="System.Data.SqlClient"/>
      <add name="BDFre" connectionString="Server= localhost; Database= dbMesaDinero; Integrated Security=True;" providerName="System.Data.SqlClient"/>
      
    </connectionStrings>

</configuration>
